:root {
    --nav-link-hover: rgba(55,65,81, 1);
    --nav-link-two: rgba(209,213,219, .5);
    --nav-link: rgb(107, 114, 128);
    --get-started-btn: rgba(15,118,110);
    --text-gold: rgba(206,151,62);
    --text-color-2: rgba(75,85,99);
    --item-bg: rgba(249,250,251);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
}